<h3>Shopping cart:</h3>
<ng-template *ngIf="!isCartEmpty(); then thenBlock else elseBlock"></ng-template>
<ng-template #thenBlock>
  <div>
    <h4>Number of products: {{ getTotalQuantity() }} </h4>
    <h4>Total amount: {{ getTotalSum() }}$ </h4>
  </div>
  <div *ngFor="let product of getProductsInCart(); trackBy: trackByProduct">
    <div appHighlight>
      <app-cart-item [product]=product
                     (removeFromCart)="onRemoveProductFromCart($event)"
                     (decrease)="onDecrease($event)"
                     (increase)="onIncrease($event)">
      </app-cart-item>
    </div>
  </div>
</ng-template>
<ng-template #elseBlock>No items in the cart!</ng-template>
