<div>
  <div><span class="bold-text">Name: </span> {{ product.name }} </div>
  <div><span class="bold-text">Category: </span> {{ product.category | uppercase }} </div>
  <div><span class="bold-text">Description: </span> {{ product.description }} </div>
  <div><span class="bold-text">Price: </span> {{ product.price | currency: 'USD'}}</div>
  <div>
    <span class="bold-text">In stock: </span>
    <span>{{ product.isAvailable ? 'Yes' : 'No'}} </span>
  </div>
  <button [disabled]="!product.isAvailable"
          (click)="onAddToCart(product)"
          class="btn btn-success">
    Add to cart
  </button>
  <br>
  <br>
</div>
